/*Para os Botões das Panes de Apresentação de Dados*/
.generalButton{
    -fx-background-color: #253437;
    -fx-text-fill: #f8fafb;
     -fx-border-color: #6bbfa3;
     -fx-cursor: hand;
}

/*Para os Botões das Panes de Inserção e Alteração de Registos*/
.alterDataButton{
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
     -fx-border-color: #6bbfa3;
     -fx-cursor: hand;
}