.sideBar{
    -fx-background-color: rgb(46, 46, 46);
}

.profileBox{
    -fx-background-color: gray;
}

.editProfileBTN{
    -fx-background-color: gray;
    -fx-border-color:gray;
}

.logoutBTN{
    -fx-background-color: gray;
    -fx-background-image: url('media/logout.png');
    -fx-border-color:gray;
}