.sideBar{
    -fx-background-color: #253437;
}

.editProfileBTN{
    -fx-background-color: #253437;
    -fx-border-color:#253437;
}

.logoutBTN{
    -fx-background-color: #253437;
    -fx-background-image: url('media/off.svg');
    -fx-background-size: 28px;
    -fx-background-repeat: no-repeat;
    -fx-border-color: #253437;
}

.sideBarButton{
    -fx-background-color: #253437;
    -fx-text-fill: #f8fafb;
     -fx-border-color: #6bbfa3;
}

.collapseButton{
    -fx-background-color: #808080;
    -fx-border-color: #808080;
    -fx-background-image: url('media/collapse.png'); 
}

.homeButton{
    -fx-cursor: hand;
}